# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Data
data/raw/*
!data/samples/sample_orders.parquet

# Artifacts: ignore all by default…
artifacts/*
# …but keep these in the repo:
!artifacts/eval_summary.csv
!artifacts/dashboard_realdata.png
!artifacts/runs/**
